<div class="partial">
  <%if flash[:error]%>
    <%=flash[:error]%>
  <%else%>
    <div class="container">
      <div id='trail'><span id="info">Trail Distance:</span> <%=distance%> meters</div>

      <div id='calories'><span id="info">Total Calories Burned:</span> <%=calories%> calories</div>

      <div id='hike-time'><span id="info">Total Hiking Time:</span> 
        <%if time[:hours] == 0%>
          <%=time[:min]%> minutes, <%=time[:sec]%> seconds</div>
        <%elsif time[:hours] == 1%>
          <%=time[:hours]%> hour, <%=time[:min]%> minutes, <%=time[:sec]%> seconds
        <%else%>
          <%=time[:hours]%> hours, <%=time[:min]%> minutes, <%=time[:sec]%> seconds
        <%end%>
      </div>
    </div>
  <%end%>
</div>