<%if flash[:error]%>
  <%=flash[:error]%>
<%else%>
  <div id='calories'>Total Calories Burned: <%=calories%></div>
  <div id='hike-time'>Total Hiking Time: <%=time[:hours]%>:<%=time[:min]%>:<%=time[:sec]%></div>
<%end%>